BOT_TOKEN=8391860943:AAE5jYofv7pKGQkMffDLEu43F0KGtqltgpY
ADMIN_ID=8358295200
PRIVATE_CHANNEL_ID=-1003756349526
CHANNEL_START_ID=2
MONGO_URI=mongodb+srv://testuser:test1122@testastro.yb6oqe6.mongodb.net/
PAYTM_MID=your_mid_here
PAYTM_MERCHANT_KEY=your_key_here
PAYTM_WEBSITE=DEFAULT

